/* ==========================================================================
   --------------- POLICES-------------
   ========================================================================== */
@font-face {
    font-family: 'Albert Sans';
    src: url('../font/AlbertSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Albert Sans';
    src: url('../font/AlbertSans-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('../font/CormorantGaramond-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('../font/CormorantGaramond-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}




/************************************************** 
----------------VARIABLES --------------- 
******************************************************/

:root {
    --bg-color: #0a0a0a;
    --text-color: #FCF4C7;
    --hover-color: #868686;
    --border-color: rgba(255, 255, 255, 1);
}

:root {
    --black: #000000;
    --white: #FFFFFF;
    --line: linear-gradient(to right, rgba(255, 255, 255, 0.8), transparent);
    --line1: linear-gradient(to left, rgba(0, 0, 0, 0.8), transparent);
    --line2: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), transparent);
    --font-serif: 'Cormorant Garamond';
    --font-sans: 'Albert Sans';
    --side-pad: 10vw;
    /* Utilisation de vw pour une marge fluide */
    /* Typographie */
    --fs-h1: clamp(2.5rem, 8vw, 6rem);
    --fs-h2: clamp(1.1rem, 2vw, 1.3rem);
    --fs-body: clamp(1rem, 1.2vw, 1.1rem);
    --fs-meta: clamp(0.8rem, 1vw, 1rem);
}

/************************************************** 
----------------STRUCTURE --------------- 
******************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--black);
    color: var(--white);
    font-family: var(--font-sans);
    overflow-x: hidden;
    font-size: var(--fs-body);
}

/************************************************** 
----------------0.SECTION HEADER --------------- 
******************************************************/
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    /* On fixe une hauteur pour faciliter l'alignement */
    padding: 0 var(--side-pad);
    /* On enlève le padding vertical du padding global */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Aligne le logo et le burger verticalement */
    border-bottom: 1px solid white;
    z-index: 1000;
    background: var(--black);
}

.logo {
    font-weight: 800;
    font-size: 15px;
    letter-spacing: 2px;
}

nav a {
    
    color: var(--white);
    text-decoration: none;
    font-size: 12px;
    margin-left: 45px;
    letter-spacing: 2px;
}
nav a:hover {
    color: var(--text-color);
    font-weight: 500;

}

/* --- MENU BURGER LOGIC --- */

/* On cache la checkbox et le bouton par défaut (Desktop) */
#burger-check,
.hamburger {
    display: none;
}



/************************************************** 
----------------1.SECTION HERO --------------- 
******************************************************/

.hero {
    padding: 160px var(--side-pad) 60px;
}

.hero-title {
    font-family: var(--font-sans);
    font-size: var(--fs-h1);
    /* S'adapte de mobile à desktop */
    line-height: 0.8;
    letter-spacing: -0.03em;
    font-weight: 550;
    text-transform: uppercase;
    color: var(--text-color);
}

span {
    font-family: var(--font-serif);
    font-style: italic;
    text-transform: lowercase;
}

.hero-details {
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    padding-top: 80px;
    padding-bottom: 100px;
}

.divider-line2 {
    content: "";
    position: absolute;
    width: 2px;
    height: 12%;
    min-height: 9%;
    background: var(--line2);
}

.hero-col-right p {
       position: relative;
       padding-left: 30px;
    width: 70%;
    max-width: 70vw;
    font-size: var(--fs-h2);
    color: rgba(255, 255, 255, 0.7);
    font-style: italic;
    font-weight: 300;
    line-height: 1.5rem;
    font-family: var(--font-serif);
    margin-bottom:70px;
}

.next-label {
    display: flex;
    align-items: center;
    gap: 20px;
}

.txt-label {
        font-family: var(--font-sans);
   font-size: 0.68rem;
   font-weight: 300;
   font-style: normal;
    letter-spacing: 2px;
    color: var(--white);
    white-space: nowrap;
      text-transform: uppercase;
          align-items: center;
}

.divider-line {
    flex-grow: 1;
    height: 1px;
    background: var(--line);
}

/************************************************** 
----------------2.SECTION GALLERY --------------- 
******************************************************/

.gallery {
    padding: 0px var(--side-pad);
}

.filter-nav {
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.filter-btn {
    background: none;
    border: none;
    color: var(--white);
    font-family: var(--font-sans);
    font-size: 12px;
      opacity: 0.4;
    transition: 0.3s;
    cursor: pointer;
      text-transform: uppercase;
        letter-spacing: 2px;
}

.filter-btn:hover {
     opacity: 1;
     color: var(--text-color);
}

.filter-btn.active {
    opacity: 1;
    border-bottom: 1px solid var(--text-color);
    color: var(--text-color);
    padding-bottom: 2px;
    transition: 0.3s;
}

.grid-layout {
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    width: 100%;
    height: auto;
}

.grid-item {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 80vh;
    max-height: 65vh;
    cursor: pointer;

}

.item-main {
    grid-row: span 2;
      width: 100%;
    height: 80vh;
    max-height: 65vh;
 
}

/****************** 
----------L'image et l'effet de zoom 
************************************************/
.grid-item img {
      width: 100%; height: 100%;
    object-fit: cover;
    transition: .5s ease;
    opacity: 1;
}
.grid-item.hidden {
   display: none;


}
.grid-item:hover img {
      opacity: 0.3;
    transform: scale(1.05);

}

.item-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column; /* Aligne les enfants verticalement */
    justify-content: space-between; /* Pousse le premier en haut et le dernier en bas */
    padding: 30px;
    opacity: 0;
    background-color: rgba(10, 10, 10, 0.7);
    transition: opacity 0.4s ease;
    z-index: 2;

    color: white;
}


.divider-line3{

background: var(--line);
width:40px;
height: 1px;
  content: "";
    opacity: 1;


}
.category {
    font-size: 10px;
      font-family: var(--font-sans);
    letter-spacing: 2px;
    display: flex;
    margin-bottom: 7px;
     text-transform: uppercase;
font-style: normal;
   display: flex;         /* Active le mode Flexbox */
    align-items: center;    /* Centre verticalement la ligne et le texte */
    gap: 15px;
}

 .project-name {

     font-family: var(--font-sans);
    letter-spacing: 1px;
    font-size: clamp(1.8rem, 3vw, 2.5rem);
    font-weight: 500;

  
}
 .project-name  .project-date {
     font-family: var(--font-serif);
    letter-spacing: 1px;
    font-size: var(--fs-meta);
    font-weight: 200;

}

/************************************************** 
----------------3.SECTION FOOTER --------------- 
******************************************************/
footer {

    border-top: 1px solid white;
    padding: 10px var(--side-pad);

}

.footer-wrap {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr ;
    padding: 20px 0 20px;
     letter-spacing: 1.2px;
 
}

.f-logo {
   
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    width: 34px;
    color: var(--text-color);
    border-bottom: 1px solid var(--text-color);
     padding-bottom: 8px;
}
.f-col1 {
margin-top: 10px;
    margin-bottom: 15px;
}

.f-sub {
  line-height: 1.4;
}

.f-title {
    font-size: 13px;

 font-weight: 500;
margin-bottom: 15px;
        width: 34px;
    color: var(--white);
    border-bottom: 1px solid var(--white);
     padding-bottom: 8px;
}

.footer-wrap a,
.footer-wrap p {
    color: var(--white);
    text-decoration: none;
    font-size: 13px;
    margin-bottom: 10px;
    display: block;
    font-weight: 300;
    
}



/************************************************** 
----------------.RESPONSIVE --------------- 
******************************************************/
@media (min-width: 1025px) {
    .grid-item:hover .item-overlay {
        opacity: 1;
    }
        .hero-details {
    padding-bottom: 90px;
}
}

@media (max-width: 1024px) {
        .hero-details {
    padding-bottom: 50px;
}
.item-overlay {
        /* On affiche l'overlay tout le temps car pas de survol possible */
        opacity: 1;
        /* On peut réduire un peu les paddings pour les petits écrans */
        padding: 20px;
    }
    
    /* Optionnel : assombrir un peu plus l'image pour que le texte soit lisible */
    .grid-item img {
        filter: brightness(0.92);
    }
    .grid-layout {
        grid-template-columns: 1fr 1fr;
    }

    /* Tablette : 2 colonnes égales */
    .item-main {
        grid-row: auto;
        height: 500px;
    }

    .grid-item {
        height: 500px;
    }

    
}

@media (max-width: 768px) {
    :root {
        --side-pad: 40px;
    }

    header {
        padding: 20px var(--side-pad);
        position: fixed;
        height: 70px;
        /* Ajuste selon la hauteur réelle de ton header */
        overflow: hidden;
        /* Important pour que le rideau ne dépasse pas */
    }


    /* On cache la navigation desktop par défaut ici pour laisser place au rideau */
    header nav {
        display: none;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 24px;
        margin: 0;
        left: 20px;
        height: 14px;
        cursor: pointer;
        z-index: 1100;
        /* Au-dessus de l'overlay */
        position: relative;
    }

    .bar {
        width: 100%;
        height: 1px;
        /* Trait fin pour rester dans ton style */
        background-color: var(--white);
        transition: all 0.4s ease;
    }

    header nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 70px;

        background: var(--black);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding-right: 70px;
        /* Espace pour ne pas chevaucher le burger */
        gap: 20px;

        /* --- EFFET RIDEAU : DROITE VERS GAUCHE --- */
        /* On commence par une ellipse invisible à l'extrême droite */
        clip-path: ellipse(0% 150% at 100% 50%);
        transition: clip-path 0.8s cubic-bezier(0.65, 0, 0.35, 1);
        z-index: 1050;
        pointer-events: none;
        /* Empêche de cliquer sur les liens cachés */
    }

    header nav a {
        font-size: 11px;
        /* Plus grand sur mobile */
        margin-left: 0;
        font-family: var(--font-sans);
        letter-spacing: 2px;
        margin: 0;
    }

    /* Quand le menu est coché */
    #burger-check:checked~nav {
        /* L'ellipse s'étend pour couvrir toute la largeur vers la gauche */
        clip-path: ellipse(150% 150% at 100% 50%);
        pointer-events: auto;
        display: flex;
        /* On le réaffiche quand coché */
    }

    /* Animation du burger en X */
    #burger-check:checked~.hamburger .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #burger-check:checked~.hamburger .bar:nth-child(2) {
        opacity: 0;
    }

    #burger-check:checked~.hamburger .bar:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }


    .hero {
        padding-top: 120px;
    }

    .hero-title {
        font-size: 3rem;
    }

    .hero-details {
        grid-template-columns: 1fr;
        padding-left: 0;
        margin-top: 30px;
    }

 

    /* Colonne unique */

    .grid-layout {
        grid-template-columns: 1fr;
    }

    /* Mobile : 1 seule colonne d'images */
    .item-main,
    .grid-item {
        height: 400px;
        
    }


    .footer-wrap {
        width: 100%;
grid-template-columns: 1.5fr 1fr;
        
    }

}